.wrapper {
    clear: both;
    float: left
}

.input-field{
    background: var(--input-bg-default);
    border: var(--input-border-default);
    box-shadow: 0 1px 4px 0 rgba(81, 77, 119, 0.1);
    font-family: "Poppins";
    outline: none;
    letter-spacing: 0.28px;
    line-height: 23px;  
    cursor: text;
    width: 100%;
    max-width: 400px !important;

}

.input-field:not(:placeholder-shown){
    border: 1px solid var(--input-border-default-filled);
    box-shadow: var(--input-shadow-default-filled)
}

.input-field:focus {
    background-color: var(--input-bg-focus);
    caret-color: #0071BF;
    border: 1px solid var(--input-border-focus);
    box-shadow: var(--input-shadow-focus)
}

.input-field:focus:not(:placeholder-shown){
    border: 1px solid var(--input-border-focus-filled);
    box-shadow: var(--input-shadow-focus-filled)
}

.input-field:hover{
    cursor: text;
    border: 1px solid var(--input-border-hover);
    box-shadow: var(--input-shadow-hover)
}

.input-field:hover:not(:placeholder-shown){
    border: 1px solid var(--input-border-hover);
    box-shadow: var(--input-shadow-hover);
}



.input-field::placeholder{
    color: var(--input-placeholder)
}

.input-control {
    position: relative;
    display: block;
    margin: 11px 0px;
}

.input-control i {
   position: absolute;
   align-items: center;
   cursor: pointer;
   color: var(--input-placeholder)
}





