.wrapper {
    clear: both;
    float: left
}

.input-field{
    background: var(--input-bg);
    box-shadow: 0 1px 4px 0 rgba(81, 77, 119, 0.1);
    font-family: "Poppins";
    outline: none;
   
}

.input-field::placeholder{
    color: var(--input-placeholder)
}

.input-control {
    position: relative;
    display: block;
}

.input-control i {
   position: absolute;
   align-items: center;
   cursor: pointer;
   color: var(--input-placeholder)
}





