.title-wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px;
    margin: 15px;
    border-bottom: 1px solid #ccc;
    padding: 0 40px 10px 40px; 
}

.form-title {
    color: var(--form-title);
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 35px;
    text-align: center;
}

.dropdown {
    margin: 15px;
    padding: 0 40px 10px 40px;
    align-items: center;
    align-content: center;
}

