tr{
    padding: 15px;
    float:left;
}

td {
    margin-top: 10px;
    padding: 15px;
    font-style:normal;
    color: rgb(11, 11, 11);
    font-family: Roboto;
}

.content-box {
    column-count: 2;
    column-gap: 280px;
  }

.import-form-container{
    top: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.import-window-wrapper{
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 20%;
}
.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
.import-window-wrapper{
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: fit-content;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 32%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-field{
    width: 750px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: rgb(198, 198, 198);
    margin-bottom: 30px;
}
