.signin-screen {
    background-color: var(--bg-color);
    background-size: 100% 100vh, cover, 150px;
    position: fixed;
    display: block;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat, repeat-x, repeat;
    z-index: 0;
    top: 0
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wrapper .form {
    margin: '0 auto';
    padding: '1rem 2rem';
    display: 'flex';
    flex-direction: 'column';
    text-align: 'center';
    max-width: 'fit-content'
}

.wrapper .form .form-control {
    max-width: 'fit-content';
    margin:10px;
}

.logo-wrapper{
    margin: 49px 0 27px 0;
}

.form-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 35px;
    text-align: center;
  
}

.forget-pwd{
    padding: 15px 0 15px 0;
    margin: 20px 0 20px 0;
    opacity: 70%;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 20px;
    cursor: pointer;
    color: var(--link-text);
}

