.addtag-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1
}

.addtag-object {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addtag-heading{
    font-family: Poppins;
    font-weight: 100;
    color: white;
    width: 800px;
    margin-bottom: 5px;
}

.addtag-heading .close-ic{
    float: right;
    text-align: center;
    color: lightskyblue
}

.addtag-body{
    display: flex;
    flex-direction: column;

}

.addtag-search {
    display: flex;
    flex-direction: row;
    width: 760px;
    justify-content: flex-end;
}

.taglist{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 12px 20px;
    list-style: none;

}

.tag{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    color: gray;
    margin: 6px;
    font-family: Roboto
}

.addtag-footer{
    background-color: gainsboro;
    border-top: gray 1px solid;
    height: 60px;
    width: 800px;
    margin: -20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 10px
}

.close-btn{
    display: inline-block;
    box-sizing: border-box;
    color: #767299;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 23px;
    cursor: pointer;
    height: 40px;
    width: 81px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    border: none
}


