.addtag-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1
}

.addtag-object {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addtag-heading{
    font-family: Poppins;
    font-weight: 100;
    color: white;
    width: 800px;
    margin-bottom: 5px;
}

.addtag-heading .close-ic{
    float: right;
    text-align: center;
    color: lightskyblue;
    cursor: pointer
}

.addtag-body{
    display: flex;
    flex-direction: column;

}

.addtag-search {
    display: flex;
    flex-direction: row;
    width: 760px;
    justify-content: flex-end;
    align-items: center;
}


.tagsearch-icon {
    cursor: pointer;
    width: fit-content;
    transform: rotateY(180deg);
    padding: 10px;
    color: gray;
    position: absolute;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.taglist{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 12px 20px;
    list-style: none;

}

.tag{
    height: 40px;
    width: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebedec;
    color: gray;
    margin: 6px;
    font-family: Roboto;
    cursor: pointer
}

.tag:hover{
    background-color: #d3d3d3;
    color: var(--secondary-text-hover);
}

.tag.active{
    color: black;
    background-color: white;
    border: 1px solid lightseagreen
}


.addnew-tag {
    height: 40px;
    width: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    border: 1.8px dashed gray;
    margin: 6px;
    font-family: Roboto;
    cursor: pointer
}

.submit-new-tag {
    height: 40px;
    width: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    margin: 6px;
    font-family: Roboto;
    cursor: pointer;
    border: 1.5px solid lightseagreen;
}

.addtag-footer{
    background-color: gainsboro;
    border-top: gray 1px solid;
    height: 60px;
    width: 800px;
    margin: -20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px
}

.close-btn{
    display: inline-block;
    box-sizing: border-box;
    color: #767299;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 23px;
    cursor: pointer;
    height: 40px;
    width: 81px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    border: none
}


/* Search bar */

.search-container {
    position: relative;
    display: inline-block;
    padding: 8px;
    height: 58px;
    width: 300px
}

.search {
    position: absolute;
    left: 57px;
    border: none;
    outline: none;
    font-style: italic;
    /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: white;
    padding: 0;
    width: 0;
    height: 58px;
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search-ic {
    display: inline-block;
    cursor: pointer;
    vertical-align: center;
}

.searchbutton {
    position: absolute;
    font-size: 22px;
    width: 200px;
    padding: 10px;
    margin: 7px auto;
    z-index:10
}

.search:focus+.searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.search:focus {
    height: 58px;
    width: 300px;
    /* Bar width+1px */
    padding: 0 16px 0 0;
    border: 1px solid lightseagreen
}

.expandright {
    left: auto;
    right: 20px;
    /* Button width-1px */
}

.expandright:focus {
    padding: 0 0 0 16px;
}

