.deal-screen {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    box-sizing: border-box;
width: 100%;
border: solid #5B6DCD 30px;
border-width: thick;
border-color: #242244;
}

.deal-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: fit-content;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 90%;
    /* padding: 0 0 0 0;
    display: block!important;
    background: #fff;
    box-sizing: content-box;
    z-index: 107;
    position: fixed;
    border-width: thick;
    border-color: #242244;
    top: 360px; */
    }

.deal-wrapper .deal-form {
    margin: '0 auto';
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'space-between';
    flex-direction: 'row';
    text-align: 'center';
    max-width: 'fit-content'
    
}


.deal-logo-wrapper{
    margin: -80px 0 80px 0
    
}

.deal-form-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 35px;
    text-align: center;
  
}

.deal-form-textbox{
    
    background-color: #eee;
    display: flex;
    flex-direction: row;
  height: 10px;
  width: 350px;
  opacity: 0.4;
  color: #242244;
  font-size: 13px;
  font-family: Poppins;
  font-style: italic;
  letter-spacing: 0.24px;
  line-height: 10px;
}
.create-deal-wrapper{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px;
    /* border-color: black;
    border-width: 1px 1px 0 1px; */
}
.deal-form-field{
    height: 24px;
    width: 326px;
    color: #7A7882;
    opacity: 0.4;
    font-family: Roboto;
    font-size: 13px;
    padding: 0 0 0 0;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: right;
}



td:first-child + td +tr { /*second child */
    margin-top: 1px;
    font-style: italic;
    color: gray;
    font-family: Roboto;
    font-style: italic;
    border-collapse: collapse;
    margin: 0 0 10px 0;
    min-height: 40px;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    margin: 0 0 10px 0;
    min-height: 40px;
}

.deal-form-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 10px 0;
    min-height: 40px;
}

.deal-form-row{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 400px;
    margin: 0 0 10px 0;
    min-height: 40px;
}

.deal-form-footer{
    background-color: lightgrey;
    height: 40px
}

.deal-form-footer .deal-footer-left{
    float:left;
    height: inherit;
    display: flex;
}

.deal-form-footer .deal-footer-right{
    float:right;
    display: flex;
    flex-direction: row;
}

.deal-show-btn{
    border-radius: 5px;
    border-color: lightgray;
    border-width: 1px;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.deal-cancel-button{
    display: inline-block;
    box-sizing: border-box;
    color: #767299;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 23px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    border: none
}

.create-deal-wrapper{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    min-height: 40px;
}


.headerr{
    font-family: "Roboto";
    color: var(--form-title);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 5px;
    text-align: center;
}

.container {
    display: table;
    width: 100%
}
  
.label {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
}
  
.span {
    display: table-cell;
    padding: 0 4px 0 6px;
}
  
.input {
    width: 70%;
}